/* https://github.com/LeBryere/css_reset
   v1.24 | 2023_03_08
   License: MIT

This selector targets many HTML elements and resets several 
CSS properties to their initial values. This is commonly known 
as a CSS reset or normalize. */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   margin-block-start: 0em;
   margin-block-end: 0em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

/* This comment explains that these elements had 
different default display values in older versions of HTML, 
and this CSS rule sets them to display as blocks in HTML5. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

/* Sets the line-height of the body element to 1. */
body {
   line-height: 1;
}

/* Removes the default list-style from ordered and unordered lists. */
ol,
ul {
   list-style: none;
}

/* Removes the default text-decoration from anchor links. */
a {
   text-decoration: none;
}

/* Removes the default quotation marks from blockquote and q elements. */
blockquote,
q {
   quotes: none;
}

/* This rule removes the quotation marks by setting the 
content of the pseudo-elements to an empty string. */
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
   position: absolute;
}

/* Sets border-collapse to collapse and border-spacing to 0 for tables. */
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* Sets the maximum width of images to 100%. */
img {
   max-width: 100%;
}

/* This creates a new block formatting context for elements 
with the class "clearfix" by using the :before and :after 
pseudo-elements to add an empty space. */
.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

.clearfix {
   *zoom: 1;
}